body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fce3fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: #fff;
}
